<% flash.each do |type, msg| %>
  <div class="alert alert-<%= type %>" role="alert">
    <div class="container">
      <div class="alert-icon">
        <i class="now-ui-icons ui-2_like"></i>
      </div>
      <strong></strong> <%= msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">
        <i class="now-ui-icons ui-1_simple-remove"></i>
      </span>
      </button>
    </div>
  </div>
<% end %>

<% if !@guide.nil? %>
<!--  <div class="explain_box">-->
<!--    <p><%#= @guide %></p>-->
<!--  </div>-->
  <div class="alert alert-info" role="alert">
    <div class="container">
      <div class="alert-icon">
        <i class="now-ui-icons ui-2_like"></i>
      </div>
      <strong>Tips</strong> <%= @guide %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">
        <i class="now-ui-icons ui-1_simple-remove"></i>
      </span>
      </button>
    </div>
  </div>
<% end %>


<%# flash.each do |message_type, message| %>
<!--      <div class="alert mt-2 alert-<%#= message_type %>"><%#= message %></div>-->
<%# end %>