<% if user? && !@current_user&.authenticated %>
  <div class="explain_box">
    <p>メールをまだご覧になってないようです。送られたメールにあるURLをクリックして登録を完了させましょう！（それまでは自転車を貸し出すことができません。）</p>
  </div>
<% end %>
<%#= provide :res_title, "貸出予定" %>
<%#= render 'layouts/error' %>

<div class="row">

  <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 offset-lg-0 col-lg-3">
    <div class="row">
      <%= render 'component/tourist_bikes/add_reserve', {user: @user} %>
    </div>
  </div>

  <div class="col-md-10 offset-md-1 offset-lg-0 col-lg-9 mt-3">
    <%= render 'component/tourist_bikes/reserve_list_simple', {reservations: @reservations} %>
  </div>

  <div class="mx-auto d-block mt-4">
    <%= paginate @reservations %>
  </div>

</div>


<script type="text/javascript">
    $(function () {
        $('#datetimepicker4').datetimepicker({
            format: 'L'
        });
    });
</script>
