<div class="_row">
  <%= image_tag @bike.image.to_s, class: "img-thumbnail" %>
</div>

<div class="col-12">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">名前：<%= @bike.name %></li>
    <li class="list-group-item">車体番号：<%= @bike.vehicle_num %></li>
    <li class="list-group-item">所有者：<%= User.find(@bike.user_id).nickname %></li>
  </ul>
</div>