<%= render 'component/tourist_bikes/search_box', {date_hash: @date_hash, prev_day: @prev_day}%>
<%= render 'component/tourist_bikes/reserve_list_accordion', {reservations: @reservations} %>
<div class="mx-auto d-block mt-4">
  <%= paginate @reservations %>
</div>

