<%= render 'bikes/search_box' %>

<%#= render 'bikes/bike_index' %>
<%#= render 'bikes/reserve_base' %>
<%= render 'util/reserve_list_accordion' %>

<div class="mx-auto d-block mt-4">
  <%= paginate @reservations %>
</div>

