<% if tourist? && !@current_user&.authenticated %>
  <div class="explain_box">
    <p>メールをまだご覧になってないようです。送られたメールにあるURLをクリックして登録を完了させましょう！（それまでは自転車の予約ができません。）</p>
  </div>
<% end %>

<% provide :res_title, "提供日" %>

<%= render 'component/bikes/details', {bike: @bike} %>

<div class="row">
  <div class="col-12 mt-3">
    <%= render 'component/tourist_bikes/reserve_list_simple', {reservations: @reservations} %>
  </div>
  <div class="mx-auto d-block mt-4">
    <%= paginate @reservations %>
  </div>
</div>
