
<% provide :res_title, "提供日" %>

<%= render 'bikes/details' %>

<div class="row">
  <div class="col-12 mt-3">
    <%= render 'util/reserve_list' %>
  </div>
  <div class="mx-auto d-block mt-4">
    <%= paginate @reservations %>
  </div>
</div>

<script
  src="https://www.paypal.com/sdk/js?currency=JPY&client-id=ATE3VkNqYLbHmjZT-UR7nRnFQUYmkLx3gFEcNRC-5mUdw2HxqkjPU9JqUj3v_jxiGcK1jbtTKBBJNsg5">
</script>

<div id="paypal-button-container"></div>

<script>
    paypal.Buttons({
        createOrder: function (data, actions) {
            // Set up the transaction
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '500'
                    }
                }]
            });
        }
    }).render('#paypal-button-container');
</script>
