<%= render 'layouts/header', {trans_class: "", color_on_scroll: nil, no_padding: false} %>
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="p-3">
        <h2 class="mt-3 pt-3 mb-3">特定非営利団体京都シェアバイク協会について</h2>
        <h3>背景</h3>
        <p>
          京都は日本でも有数の観光地です。毎年、古都京都には数多くの観光客が訪れ、近年、その数は増え続けています。
          しかし、残念ながら交通機関は非常に混雑しているのに加え、京都の主たる移動手段であるバスは複雑で、観光するのによい環境であるとは言えないのが実情です。
          これは、京都における、長年の問題でもあります。
        </p>
        <h3>目標</h3>
        <p>
          我々は以上の問題を解決すること、つまり、地域に根ざしたアプローチで京都での観光を発展させ、社会に貢献することを目標とします。
          「観光客にも優しい街づくり」を今までにない、新しい方法で達成します。
        </p>
        <h3>プロジェクト </h3>
        <p>
          我々の提供させていただくサービス"Sharebiker"は自転車を貸す京都市民と、自転車を借りる観光客をつなぎます。
          具体的には自転車を使わない日に、観光客が京都市内を巡るための手段として使っていだだこうと考えております。
        </p>
        <p class="mt-4">詳細につきましては<a href="https://kyotosharebike.com">こちら</a>をどうぞ</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
<!--    <p>©2020　京都 All rights reserved </p>-->
  </div>
</div>


