<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="p-3">
        <h2 class="mt-3 pt-3 mb-3">特定非営利団体京都シェアバイク協会について</h2>
        <p>
          今日、京都府への観光客はとても多いが、そのためにバスを中心とする公共交通機関は非常に混雑しており、しばしば問題視される。
          当法人が行う事業はその解決を目標としており、具体的には自転車等の交通手段を不特定多数の者に提供するという事業を行う。
          これらの事業を行うにあたり、駐輪場の確保や社会的な信用を得るために特定非営利法人の設立が必要であると判断した。
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <p>©2019　Hiroki Matsuyama All rights reserved </p>
  </div>
</div>


