<%= render 'layouts/header', {trans_class: "", color_on_scroll: nil, no_padding: false} %>


<div class="container mt-5">
  <div class="row">
    <div class="col-12">

      <div class="p-3">
        <h2 class="mt-3 pt-3 mb-3 border-bottom border-secondary">シェアバイクとは？</h2>
        <p>
          京都市内の学生の所有する自転車を観光客などに対して、広く貸し出そうというサービスです
        </p>
        <h2 class="mt-3 pt-3 mb-3 border-bottom border-secondary">実際に使ってみよう！</h2>
        <h3 class="pt-3 mb-3"> 〜観光客編〜</h3>
        <p>
          京都市内の学生の所有する自転車を観光客などに対して、広く貸し出そうというサービスです
        </p>
      </div>
      <%= link_to "ユーザー登録はこちら", t_new_path %>
    </div>
  </div>
</div>

