<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="whiter p-3">
        <h1 class="display-4 mr-2 mt-5 pt-3">京都シェアバイク協会</h1>
        <p class="lead mt-4 ml-2 text-muted">新しい自転車のシェアリング</p><br/>
        <div class="btn-group d-flex mt-1" role="group" aria-label="...">
          <a role="button" class="btn btn-outline-secondary w-100 d-sm-block d-none" href="/u-login">京大生の方</a>
          <a role="button" class="btn btn-outline-secondary w-100 d-sm-block d-none" href="/t-login">利用者の方</a>
          <a role="button" class="btn btn-outline-secondary w-100 d-sm-block d-none" href="/root/first">初めての方</a>
        </div>
        <div class="btn-group d-flex mt-4" role="group" aria-label="...">
          <a role="button" class="btn btn-outline-secondary w-100 mt-2 d-sm-none" href="/u-login">京大生の方</a>
          <a role="button" class="btn btn-outline-secondary w-100 mt-2 d-sm-none" href="/t-login">利用者の方</a>
        </div>
        <a role="button" class="btn btn-outline-secondary w-100 mt-2 d-sm-none mb-3" href="/root/first">初めての方</a>
        <!--      <div class="clearfix"><%#= image_tag "bike.svg", :width => "150", :height => "150", class: "back-svg float-right"%></div>-->
      </div>
    </div>
  </div>
</div>


