
<div class="jumbotron jumbotron-fluid" style="background-color: #000080;">
  <div class="container">
    <h1 class="display-4 mr-5 text-light">This is Home!</h1>
    <p class="lead text-light">レンタルします</p><br/><br/>
      <div class="btn-group d-flex" role="group" aria-label="...">
        <a role="button" class="btn btn-outline-info w-100 text-light" href="/u-login">京大生の方はこちら</a>
        <a role="button" class="btn btn-outline-primary w-100 text-light" href="/t-login">利用者の方はこちら</a>
    </div>
  </div><!-- /.container -->
</div><!-- /.jumbotron -->

