<!--<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">-->
<!--  <div class="carousel-inner">-->
<!--    <div class="carousel-item active">-->
      <%#= image_tag 'slide/fall.jpg', class: "d-block w-100"%>
<!--    </div>-->
<!--    <div class="carousel-item">-->
      <%#= image_tag 'slide/gray.jpg', class: "d-block w-100"%>
<!--    </div>-->
<!--    <div class="carousel-item">-->
      <%#= image_tag 'slide/lock.jpg', class: "d-block w-100"%>
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<h1>this is Home!!</h1>