<div class="container">
  <h1 class="display-4 mr-5 mt-5 pt-3">This is Home!</h1>
  <p class="lead">レンタルします</p><br/>
  <div class="btn-group d-flex" role="group" aria-label="...">
    <a role="button" class="btn btn-outline-info w-100" href="/u-login">京大生の方はこちら</a>
    <a role="button" class="btn btn-outline-primary w-100" href="/t-login">利用者の方はこちら</a>
  </div>
</div>


