<%= render 'layouts/header', {trans_class: "", color_on_scroll: nil, no_padding: false} %>

<div class="container mt-5 pt-5">

  <div class="row">
    <div class="col-12 title h2 border-bottom">１．ルネ前</div>
    <div class="col-12 col-md-6">
      <p>ここはルネここはルネここはルネここはルネここはルネここはルネここはルネここはルネここはルネここはルネここはルネ</p>
    </div>
    <%= image_tag "place/rune.jpeg", class: "col-12 col-md-6"%>
  </div>

  <div class="row">
    <div class="col-12 title h2 border-bottom">２．京大病院</div>
    <div class="col-12 col-md-6">
      <p>ここはルネここはルネここはルネここはルネここはルネここはルネここはルネここはルネここはルネここはルネここはルネ</p>
    </div>
    <%= image_tag "place/rune.jpeg", class: "col-12 col-md-6"%>
  </div>

  <div class="row">
    <div class="col-12 title h2 border-bottom">３．百万遍</div>
    <div class="col-12 col-md-6">
      <p>ここはルネここはルネここはルネここはルネここはルネここはルネここはルネここはルネここはルネここはルネここはルネ</p>
    </div>
    <%= image_tag "place/rune.jpeg", class: "col-12 col-md-6"%>
  </div>

</div>