<%= render 'layouts/header', {trans_class: "", color_on_scroll: nil, no_padding: false} %>

<div class="container mt-5 pt-5">

  <div class="row">
    <div class="col-12 title h2 border-bottom">１．京大百万遍駐輪場</div>
    <div class="col-12 col-md-6">
      <p>京大三号館の東駐輪場です。こちらのスペースに自転車の駐輪をしていただきます。</p>
    </div>
    <%= image_tag "place/rune.jpeg", class: "col-12 col-md-6"%>
  </div>

</div>