<%= render 'layouts/header', {trans_class: "", color_on_scroll: nil, no_padding: false} %>

<div class="container mt-5 pt-5">

  <div class="row">
    <% @parking.each do |p|%>
      <div class="col-12 title h2 border-bottom"><%= p.name %></div>
      <div class="col-12 col-md-6">
        <p><%= p.description %></p>
      </div>
      <%= image_tag p.url ? p.url : "", class: "col-12 col-md-6"%>
    <% end %>
  </div>

</div>