<div id="end_rental_for_tourist">
  <div>
    <input type="checkbox" id="q0" v-model="checkbox[0]"/><label for="q0">確認項目１</label><br/>
    <input type="checkbox" id="q1" v-model="checkbox[1]"/><label for="q1">確認項目２</label><br/>
    <input type="checkbox" id="q2" v-model="checkbox[2]"/><label for="q2">確認項目３</label><br/></div>
  <a class="btn btn-primary" id="end_rental_for_tourist_prob" :href="href" onclick="return checkAllChecked()">
    レンタル終了
  </a>
</div>

<script>
const vueR = new Vue({
    el: "#end_rental_for_tourist",
    data: {
        checkbox: [false, false, false],
        href: "<%= r_end_path(reserve.id)%>"
    }
});
function checkAllChecked(){
    const res = vueR.checkbox.includes(false);
    let conf = true;
    if (res){
        conf = window.confirm("問題を送信します。よろしいですか？")
        if(conf) vueR.href = vueR.href + "?prob=true";
    }
    return conf;
}
</script>