
//エラー用
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}

//labelをうすく
//label{
//  color: #BBBBBB;
//}


//card-column
.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}

.explain_box {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  border: solid 3px #000000;
}

.fa-white{
  color: white;
}

//ブランドロゴ
.navbar-brand{
  font-family: 'Maiden Orange', cursive;
}
.brandtext{ font-family: 'Maiden Orange', cursive;}

.clickable :hover{
  cursor: pointer;
  text-underline: #1b1e21;
}
