<footer class="section footer-classic context-dark bg-image" style="background: #2d3246; padding: 0">
  <div class="container pt-3 mt-4">
    <div class="row">
      <div class="col-md-4">
        <div class="pr-xl-4"><a class="brand" href="/">
          <h5 class="text-center">Sharebiker</h5>
        </a>
          <p>We will improve the quality of line of the ku students.</p>
       </div>
      </div>
      <div class="col-md-5">
        <h5>Contacts</h5>
        <dl class="contact-list">
          <dt>email:</dt>
          <dd><%= mail_to "contact@mail.kyotosharebike.com" %></dd>
        </dl>
      </div>
      <div class="col-md-3 col-xl-3">
        <h5>Links</h5>
        <ul class="nav-list">
          <li><a href="/root/about">About</a></li>
<!--          <li><a href="#">Projects</a></li>-->
        </ul>
      </div>
    </div>
  </div>
</footer>